header.page-header {

    text-align: center;

}

.bigDiv {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.myDiv {

    border: 5px outset red;
    margin: 5px;
    background-color: lightblue;    
    display: flex;
    flex-direction: row;

    width: 25%;

  }